@model PasswordReminder.UI.Models.LoginViewModel

@{
    ViewData["Title"] = "Log In";
}
<style>
    .card {
    border-radius: 0.75rem;
    }</style>

<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="form-container">
        <h3 class="card-title text-center text-primary mb-4">@ViewData["Title"]</h3>

        <form asp-action="Login" method="post">
            <!-- Email -->
            <div class="form-group mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <!-- Şifre -->
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label"></label>
                <div class="input-group">
                    <input asp-for="Password" class="form-control" id="LoginPasswordInput" />
                    <button type="button" class="btn btn-outline-secondary toggle-password" data-target="LoginPasswordInput">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <!-- Giriş butonu -->
            <button type="submit" class="btn btn-success w-100">Log In</button>

            <!-- Kayıt yönlendirme -->
            <div class="text-center mt-3">
                <a asp-action="Register" class="text-decoration-none"> Create an Account <strong>Sign Up</strong></a>
            </div>
        </form>
        @if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <div>@error.ErrorMessage</div>
                }
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/login.js" asp-append-version="true"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
